html {
    scroll-behavior: smooth;
}

body{
    margin: auto !important;
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    overflow-x: hidden !important;
    background-color: darkgray !important;
}

/*Home Page*/

nav{
    position: sticky !important;
    top: 0 !important; 
    margin: auto !important;
    display: flex !important;
    max-width: 1500px !important;
    justify-content: space-between !important;
    background-color: #f4f4f2 !important;
    flex-direction: row !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08) !important;
    z-index: 5 !important;
}

nav .right-side{
    align-self: center !important;
    padding-right: 20px !important;
}

nav .left-side{
    align-self: center !important;
    align-content: center !important;
    justify-content: center !important;
    padding-left: 20px !important;
}

nav .right-side .standard, nav .right-side .query{
    text-decoration: none !important;
    color: #495464 !important;
    padding: 10px !important;
    font-weight: 100 !important;
    font-size: large !important;
}

nav .right-side .selected{
    text-decoration: none !important;
    color: #495464 !important;
    padding: 10px !important;
    font-weight: 100 !important;
    font-size: large !important;
    border-radius: 5px !important;
    border: #495464 2px solid !important;
    padding: 3px 10px !important;
    align-content: center !important;
}

nav .right-side .standard:hover, nav .right-side .query:hover{
    background-color: #bbbbbe !important;
    padding: 3px 10px !important ;
    border-radius: 5px !important;
    color: #f4f4f2 !important;
}

nav .right-side .selected:hover{
    background-color: #bbbbbe !important;
    border-radius: 5px !important;
    border: #495464 2px solid !important;
    color: #f4f4f2 !important;
}

nav .left-side h2{
    text-decoration: none !important;
    color: #495464 !important;
    padding: 5px !important;
    font-weight: 100 !important;
}

.hero{
    display: flex;
    margin: auto;
    max-width: 1500px;
    background-color: #bbbfca;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}

.hero-content{
    height: 20em;
}

.hero-text{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.hero-text h1{
    color: #495464;
    font-size: 3em;
    font-weight: 450;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.hero-text h3{
    color: #495464;
    font-size: 1.2em;
    font-weight: 375;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.about-me{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-flow: column;
    background-color: #f4f4f2;
    padding-bottom: 2em;
}

.about-me h2{
    text-align: center;
    font-size: 2em;
    font-weight: 385;
    color: #495464;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 85px;
}

.about-me .otherthing{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    
}

.about-me .otherthing p{
    text-align: justify;
    max-width: 600px;
    padding: 10px;
    border: 5px solid #bbbbbe;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 350;
    line-height: 1.4em;
    color: #495464;
    margin: 0 auto;
}

.projects{
    max-width: 1500px;
    margin: auto;
    display: flex;
    background-color: #f4f4f2;
    flex-flow: column;
}

.projects .p-header{
    display: flex;
    justify-content: center;
}

.projects .p-header h2{
    margin-top: 25px;
    margin-bottom: 50px;
}

.projects .p-features{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects h2{
    text-align: center;
    font-size: 2em;
    font-weight: 385;
    color: #495464;
}


.projects img{
    display: flex;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 85px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #bbbfca;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: none;
}

footer p{
    display: flex;
    color: #495464;
    font-size: 1.1em;
    font-weight: 350;
    line-height: 1.4em;
    text-align: center;
}

/*Contact Page*/

.contact-me{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-flow: column;
    background-color: #f4f4f2;
    padding-bottom: 0;
}

/*Features Page*/

#features-container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row;
    background-color:  #f4f4f2;
    max-width: 1500px;
}

.card {
    width: 18rem;
    margin: 25px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.card-title{
    margin-bottom: .75rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;   
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.card img{
    max-height: 160px;
}

.contact-me h2{
    text-align: center;
    font-size: 2em;
    font-weight: 385;
    color: #495464;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 85px;
}

fieldset {
    border-radius: 10px;
  }

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #f4f4f2;
}

.contact-form{
    max-width: 1500px;
    display: flex;
    margin: auto;
    background-color: #f4f4f2;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 385;
    padding-bottom: 50px;
}

.contact-form .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.contact-form .form-radio{
    margin-bottom: 20px;
}

.contact-form label{
    margin-bottom: 5px;
}

.contact-form fieldset{
    width: 65%;
    margin: auto;
}

.contact-form .form input{
    width: 99%;
    height: 30px;
}

.contact-form .form select{
    width: 100%;
    height: 40px;
}

.form input[type="submit"]{
    display: flex;
    align-self: center;
    justify-content: center;
    width:50%;
    height: 40px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #f4f4f2;
    font-size: 1.2em;
    color: #495464;
    font-weight: 100;
    border: #495464 2px solid;
}

.form input[type="submit"]:hover{
    border: #495464 2px solid;
    background-color: #bbbbbe;
}

.location{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #f4f4f2;
    padding-bottom: 85px;
}

.location .location-map{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.location .location-map iframe{
    min-width: 65%;
}

/*Influences Pages*/

.influences{
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-flow: column;
    background-color: #f4f4f2;
    padding-bottom: 2em;
}

.influences h2{
    text-align: center;
    font-size: 2em;
    font-weight: 385;
    color: #495464;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 85px;
}

.wrapper{
    max-width: 1500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    -webkit-grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    -webkit-grid-template-rows: auto 1fr;
    margin: 0 auto;
    column-gap: 15px;
    -webkit-grid-column-gap: 15px;
    row-gap: 15px;
    -webkit-grid-row-gap: 15px;
    grid-template-areas: 
    "i1 i2 i5"
    "i3 i4 i5"
    ;
    -webkit-grid-template-areas:
    "i1 i2 i5"
    "i3 i4 i5"
    ;
    background-color: #f4f4f2;
    padding: 0 5%;
}

.grid-inspirations{
    max-width: 1500px;
    padding-bottom: 85px;
    background-color: #f4f4f2;
    margin: 0 auto;
}

.img1, .img2, .img3, .img4, .img5{
    display: flex;
    background-color: #495464;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.img1{
    grid-area: i1;
}

.img2{
    grid-area: i2;
}

.img3{
    grid-area: i3;
}

.img4{
    grid-area: i4;
}

.img5{
    grid-area: i5;
}

.img1 img, .img2 img, .img3 img, .img4 img, .img5 img{
    height: 100%;
    width: 100%;
}

.img1, .img2, .img3, .img4, .img5{
    padding: 20px;
    margin: 5px;
}

/*Learnt the transitions on W3 schools ("https://www.w3schools.com/css/css3_transitions.asp")*/

.img1 p, .img2 p, .img3 p, .img4 p, .img5 p{
    position: absolute;
    width:15%;
    transition: opacity 0.65s linear;
    text-align: justify;
    font-weight: 200;
    visibility: hidden;
    line-height: 1.4em;
    color: #f4f4f2;
}

.img1:hover > p, .img2:hover > p, .img3:hover > p, .img4:hover > p, .img5:hover > p{
    visibility: visible;
}

/*Learnt the (:not) Selector from W3 schools ("https://www.w3schools.com/cssref/sel_not.asp")*/

.img1:hover :not(p), .img2:hover :not(p), .img3:hover :not(p), .img4:hover :not(p), .img5:hover :not(p){
    opacity: 20%;
}

/*TV Query*/
@media only screen and (min-width: 2000px)
{
    .img1 p, .img2 p, .img3 p, .img4 p, .img5 p{
        width:10%;
    }
}

/*Tablet Query*/
@media only screen and (max-width: 985px) and (min-width: 741px)
{
    nav .right-side .query{
        display: none;
    }

    .about-me h2{
        font-size: 1.8em;
    }

    .projects h2{
        font-size: 1.8em;
    }

    .projects img{
        width: 25%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 85px;
    }

    .contact-me h2{
        font-size: 1.8em;
    }

    .contact-form fieldset{
        width: 75%;
    }

    .location .location-map iframe{
        min-width: 75%;
    }

    .influences h2{
        font-size: 1.8em;
    }

    .projects picture img{
        width: 65%;
        margin-bottom: 85px;
    }

    .img1 p, .img2 p, .img3 p, .img4 p, .img5 p{
        position: absolute;
        width:25%;
        transition: opacity 0.65s linear;
        text-align: justify;
        font-weight: 200;
        visibility: hidden;
        line-height: 1.4em;
    }

    .img1:hover > p, .img2:hover > p, .img3:hover > p, .img4:hover > p, .img5:hover > p{
        visibility: visible;
    }
    
    .img1:hover :not(p), .img2:hover :not(p), .img3:hover :not(p), .img4:hover :not(p), .img5:hover :not(p){
        opacity: 30%;
    }

    .img1 p, .img2 p, .img3 p, .img4 p, .img5 p{
        width: 25%;
        line-height: 1.3em;
    }
}

/*Mobile Query*/
@media only screen and (max-width: 740px)
{
    nav .right-side .query{
        display: none;
    }

    nav .right-side .standard, nav .right-side .query{
        text-decoration: none;
        color: #495464;
        padding: 5px;
        font-weight: 100;
        font-size: large;
    }

    nav .right-side .selected{
        padding: 5px;
        padding: 3px 5px;
    }
    
    nav .right-side .standard:hover{
        padding: 3px 5px;
    }

    nav .left-side h2{
        padding: 5px;
        font-size: larger;
    }
    
    .hero-text h1{
        font-size: 2em;
    }

    .hero-text h2{
        font-size: 1.1em;
        padding: 5px;
    }

    .about-me h2{
        font-size: 1.6em;
    }

    .about-me .otherthing p{
        font-size: 1.05em;
    }

    .projects h2{
        font-size: 1.6em;
    }

    .projects img{
        width: 75%;
        margin-bottom: 85px;
    }

    .contact-me h2{
        font-size: 1.6em;
    }

    .contact-form fieldset{
        width: 75%;
    }

    .location .location-map iframe{
        min-width: 75%;
    }
    
    .img1 p, .img2 p, .img3 p, .img4 p, .img5 p{
        display: none;
    }
    
    .img1:hover > p, .img2:hover > p, .img3:hover > p, .img4:hover > p, .img5:hover > p{
        visibility: hidden;
    }
    
    .img1:hover :not(p), .img2:hover :not(p), .img3:hover :not(p), .img4:hover :not(p), .img5:hover :not(p){
        opacity: 100%;
    }

    .influences h2{
        font-size: 1.6em;
    }

    .img1, .img2, .img3, .img4, .img5{
        padding: 20px;
        margin: 0;
    }

}

